<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Ürün Listesi Vitrin Sayfası</title>

    <!-- Bootstrap core CSS -->
    <link href="~/CatalogTemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--

    TemplateMo 546 Sixteen Clothing

    https://templatemo.com/tm-546-sixteen-clothing

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/CatalogTemplate/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/CatalogTemplate/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/CatalogTemplate/assets/css/owl.css">

</head>