@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" asp-for="CategoryName" />
    <br />
    <label>Kategori Açıklama</label>
    <input type="text" class="form-control" asp-for="CategoryDescription" />
    <br />
    <label>Kategori Görsel</label>
    <input type="text" class="form-control" asp-for="CategoryImage" />
    <br />
    <button class="btn btn-info">Kategoriyi Ekle</button>
</form>