
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sidebar-01/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/sidebar-01/images/logo.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    
                    <li><a href="#">Dashboard</a></li>                
                    <li><a href="/Category/Index/">Kategoriler</a></li>                
                    <li><a href="/Product/Index/">Ürünler</a></li>
                    <li><a href="#">Satışlar</a></li>
                    <li><a href="#">Müşteriler</a></li>
                    <li><a href="#">Personeller</a></li>
                    <li><a href="#">Ayarlar</a></li>
                    <li><a href="/Statistic/Index/">İstatistikler</a></li>
                    <li><a href="#">Grafikler</a></li>
                    <li><a href="#">Raporlar</a></li>
                    <li><a href="#">Roller</a></li>
                    <li><a href="#">Gelen Mesajlar</a></li>
                    <li><a href="#">Giden Mesajlar</a></li>
                    <li><a href="#">Yeni Mesaj Oluştur</a></li>
                    <li><a href="#">Harita Bilgisi</a></li>
                    <li><a href="#">Çıkış Yap</a></li>
                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Kullanılan Tema <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Siteye Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mesajlar(24)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kullanıcı: admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    <script src="~/sidebar-01/js/jquery.min.js"></script>
    <script src="~/sidebar-01/js/popper.js"></script>
    <script src="~/sidebar-01/js/bootstrap.min.js"></script>
    <script src="~/sidebar-01/js/main.js"></script>
</body>
</html>